body {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    display: flex;
    background-color: #1f2937 ;
    align-items: center;
    margin-bottom: 0; 
}

h3 {
    color: white;
    float: left;
    margin-left: 100px;
    width: 20%;
}

nav {
    margin-left: auto;
    margin-bottom: 10px;
    margin-top: 8px;
    width: 100%;
  
}

nav ul {
    display: flex;
    list-style: none;
    float: right;
    gap: 60px;
    margin-right: 100px;
}

nav a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
 
}

.container2 {
    display: flex;
    margin: 0; 
    width: 100%;
    background-color: #1f2937;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    margin-left: 80px;
}

.para {
    color: #e5e7eb;
    padding: 0;
    margin-left: 80px;
}

.image {
    object-fit: cover;
    margin-right: 80px;
    flex-basis: 60%;
}

img {
    max-width: 100%;
    height: auto;
}

.text   {
    flex-grow: 0;
    margin-left: 20px;
    margin-right: 40px;
}

.button {
   margin-left: 80px;
   background-color: #3882f6;
   color: #f9faf8;
   padding: 8px;
   border-radius: 8px;
}

.title {
    justify-content: center;
    text-align: center;
    font-size: 36px;
    margin: 10px;
    font-weight: bold;
    color: #1f2937;
}

.container3 {
    display: flex;
    justify-content: space-evenly;
}

.info {
    flex-basis: 18%;
    text-align: center;
    color: #1f2937;
    margin: 6px;
    font-size: 20px;
}

.quote, .person {
    background-color: #e5e7eb;
    margin: 0;
}

.quote {
    text-align: center;
    margin-top: 20px;
    padding: 120px 200px 10px 200px;
    font-style: italic;
    color: #1f2937;
    font-size: 36px;
    overflow-wrap: break-word;
}

.person {
    text-align: right;
    padding-right: 400px;
    padding-bottom: 100px;
    font-weight: bold;
    font-size: 28px;
}

.container4 {
    display: flex;
    border-radius: 8px;
    background-color: #3882f6;
    justify-content: center;
    padding-left: 80px;
    margin: 80px 200px;
    padding: 30px 60px;
}

.signup {
    background-color: #3882f6;
    border: solid #f9faf8;
    border-radius: 4px;
    color: #f9faf8;
}

.header, .text2 {
    color: #f9faf8;
    border: solid red;
}

.footer {
    background-color: #1f2937;
    text-align: center;
    color: #e5e7eb;
    padding: 18px;
}